*{
    border:0px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    
}

.logo {
    background-color: #BED06E;
    color:#5C4031 ;
    text-align:center;
        
    
 }



 body{
    background-color: #BED06E;
 }


.search-box{

    width:600px;
    background-color: #7D983A;
    margin: 50px auto 0;
    border-radius: 30px;
    color:#FFEEAB ;

}

.search-box button{
    cursor: pointer;
    color:#FFEEAB ;
    font-size: 18px;
}


.row{
    display: flex;
    align-items: center;
    padding: 25px 45px;

}

input{
    flex:1;
    height: 30px;
    background: transparent;
    border:0;
    outline: 0;
    font-size:18px;
    color: #FFEEAB ;
}

input ::placeholder{
    color: #DCD5B9 ; 
    opacity:100 ;
}

button{
    background: transparent;
    border: 0;
    outline:0;

}

.result-box ul{
    border-top: 1px solid #999;
    padding: 10px 10px;
}

.result-box ul li{
    list-style: none;
    border-radius: 10px;
    padding: 15px 15px;
    cursor: pointer;
}

.result-box ul li:hover {
    background:#FFEEAB  ;
    color:#7D983A;
    border-radius: 10px;

}

.ingredient-box{
    width:600px;
    background-color: #6C5041;
    margin: 50px auto 0;
    border-radius: 30px;
    color: #FFEEAB ;
}

.ingredient-box ul{
    
    padding: 15px 30px;
}

.ingredient-box ul li{
    list-style:disc;
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.ingredient-box ul li:hover {
    background:#FFEEAB ;
    color:#6C5041;
    border-radius: 10px;

}

.ingredient-box ul li button{
    cursor: pointer;
    color:#6C5041;
}
.recipe-container{

    display: flex;
    padding: 10px 10px;
    gap:20px;
    flex-wrap: wrap;
    
}

.recipe-card{

    border-radius: 10px;
    background:#6C5041 ;
    font-family: "Source Serif 4", serif;
    color:#FFEEAB;
    padding: 20px 20px;
    width: 315px;
    height:370px;

}

.recipe-card h3{

    font-family:"Poppins", sans-serif; 
    padding: 10px 10px;
    font-size: medium;
}

.recipe-card img{

    display: flex;
    border-radius: 10px;
    object-fit: contain;
    margin: 20px auto ;

}

#filter-bar{
   left:-320px; 
   position:absolute;
   top: 60px;
   bottom: 0;
   background-color: #7D983A;
   width:20%;
   color:#FFEEAB;
   border-radius: 10px;
   transition: 0.5s ease;
}

#filter-bar.active{  
    left: 0;
    
}


#filter-button{
    background-color: #5C4031;
    border-radius:10px;
    position: fixed;
    padding:10px 10px;
    align-items: left;
    font-size: 17px;
    color:#FFEEAB;
    cursor:pointer;
 }

#filterInput-box{
    margin: 0 auto 0;
    background-color: #BED06E;
    border-radius: 10px;
    color: #5C4031;
    border:0;
    outline: 0;
    font-size: 18px;
    width: 200px;
    height:35px;
    padding: 10px 10px;
}